body {
  background: #fff;
  color: #676565;
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#header {
  height: 90px;
  z-index: 337;
  background: rgba(52, 59, 64, 0.9);
}

#header #logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header.header-transparent {
  background: transparent;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #8c0c36;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
}

.navbar ul a:hover, .navbar .active:hover, .navbar li:hover > a {
  color: #fff;
  font-weight: bold;
}

.navbar > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar ul {
  top: 0;
  left: calc(100% - 20px);
  visibility: hidden;
}

.navbar > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar ul {
    left: -90%;
  }

  .navbar > ul {
    left: -100%;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../images/ausVines.jpg) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 62px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #8c0c36;
  border: 2px solid #8c0c36;
  font-weight: bold;
}

main {
  overflow: hidden;
}

.bodyFormatting {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

details, summary {
  border: 0;
  width: 300px;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;

}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="text"] {
  max-width: 440px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  max-width: 440px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.region-check {
  padding: 0;
  margin: 0;
  display: inline;

}

.form-check {
  width: 440px;
  text-align: center;
  margin: 2px 0 8px 0;
  padding: 8px 4px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.form-check > .btn {
  margin: 4px 4px;
}

.form-buttons {
  padding-top: 5px;
  text-align: center;
}
#confirmation {
  padding: 5px 5px;
}

#accordionResults {
  padding: 0 5px;
  width: 300px;
}